@model TeamInfo
@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <ul id="teamList">
        @for (var i = 0; i < Model.TeamMembers.Count; i++)
        {
            var member = Model.TeamMembers[i];



            <li class="member">
                @member
            </li>
        }
        
    </ul>
    <input type="text" id="nameField" title="e.g Claudia" />
    <button class="btn btn-primary" id="createButton" title="Create">Create</button>

</div>
