@model TeamInfo
@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}
@section AdditionalStyles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <ul id="teamList">
        @for (var i = 0; i < Model.TeamMembers.Count; i++)
        {
            var member = Model.TeamMembers[i];

            <li class="member">
                <span class="memberName">
                    @member.Name
                </span>
                <span class="delete fa fa-remove" onclick="deleteMember(@member.Id)"></span>
                <span class="remove fa fa-pencil"></span>
            </li>

        }
    </ul>
    <input type="text" id="nameField" title="e.g. Radu" />
    <button class="btn-primary" id="createButton" title="Create">Create</button>
    <button class="btn-primary" id="clearButton" title="Clear" >Clear</button>



</div>