@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <ul id="teamList">
        <li>Teona</li>
        <li>Dragos</li>
        <li>Leon</li>
        <li>Claudia</li>
        <li>George</li>
        <li>Radu</li>
    </ul>
    <input type="text" id="nameField" title="e.g Claudia" />
    <button id="createButton" title="Create">Create</button>

</div>
